__pycache__/
.venv/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
build/
dist/
*.png
*.pdf
*.svg
*.bam
*.bai
!examples/datasets/*/reads.mapped.bam
!examples/datasets/*/reads.mapped.bam.bai
*.amb
*.ann
*.bwt
*.pac
*.sa
examples/datasets/.cache/
